body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'M PLUS Rounded 1c';
}

h1 {
	text-align: center;
	vertical-align: center;
	font-size: 3em;
	margin: 0;
}

h2 {
	font-size: 2em;
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

.white {
 	background-color: #f9f7f7;
}

.black {
	background-color: #141614;
}

.yellow {
 	background-color: #b8d802; 
}

.green {
 	background-color: #144c11;
}

.white-font {
 	color: #f9f7f7;
}

.black-font {
	color: #141614;
}

.yellow-font {
 	color: #b8d802; 
}

.green-font {
 	color: #144c11;
}

.first-bg {
	position: relative;
	height: 20vh;
	width: 100vw;
	object-fit: cover;
}

.title {
	box-sizing: border-box;
	border-radius: 20px;
	position: absolute;
	top: 15vh;
	left: 15vw;
	padding: 3px 15px;
}

.button {
	border: 0px;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer; 
}

.button-padding-center {
	padding: 5px 15px 5px 15px;
}

.button-config {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	float: left;
	left: 35%;
	margin-top: 50px;
}

.button-back {
	position: absolute;
	padding: 5px 10px 5px 20px;
	border-radius: 3px;
	z-index: 1;
	padding: 5px 10px 5px 20px;
	border-radius: 3px;
	top: 30px;
	left: -2px;
}

.button-add {
	position: relative;
	float: left;
}

.button-delete-all {
	position: relative;
	float: left;
	margin: 20px;
}

.button-del {
	font-size: .8em;
	position: relative;
	display: table;
}

.button-submit {
	position: absolute;
	bottom: -50px;
	left: 120px;
}

.button-close {
	position: absolute;
	height: 20px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.button-back > a {
	text-decoration: none;
}

.form-con {
	visibility: hidden;
	opacity: 0; 
	border-radius: 20px;
	z-index: 2;
	position: fixed;
	top: 50%;
	left: 50%;
	height: 80vh;
	width: 60vw;
	transition-duration: .1s;
	transform: translate(-50%, -30%); 
}

.form-con-click {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, -50%); 	
}

form {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
}

.wall {
	visibility: hidden;
	position: fixed;
	z-index: 2;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: 0;
	transition-duration: .1s;
}

.dark-bg {
	visibility: visible;
	background-color: black;
	opacity: .91;
}

.entry {
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.entry > span {
	min-width: 100px;
	text-align: right;
}

.entry > input {
	border-width: 0px;
	margin-left: 20px;
	width: 30vw;
	height: 25px;
	border-radius: 5px;
	padding: 2px 10px;
}

.entry > select {
	border-width: 0px;
	margin-left: 20px;
	width: 30vw;
	height: 25px;
	border-radius: 5px;
	padding: 2px 10px;
}


.schedule-list-con {
	position: relative;
	float: left;
	left: 25%;
	margin-top: 150px;
}

.schedule {
	position: relative;
	padding: 10px;
	margin-bottom: 80px;
	border-radius: 10px;
	transition-duration: .15s;
}

.schedule:hover {
	background-color: #e6f4e1;
}

.schedule-count {
	position: absolute;
	height: 60px;
	width: 60px;
	border-radius: 30px;
	top: 0px;
	left: -80px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.schedule-count > img {
	height: 20px;
}

.schedule-title {
	margin-bottom: 30px;
	text-align: center;
}

.label-con {
	display: flex;
	margin: 5px;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.label-icon {
	margin-right: 10px;
	height: 20px;
	width: 20px;
}