body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'M PLUS Rounded 1c';
}

h1 {
	font-size: 3em;
	margin: 0;
}

p {
	margin: 0;
}

.white {
 	background-color: #f9f7f7;
}

.black {
	background-color: #141614;
}

.yellow {
 	background-color: #b8d802; 
}

.green {
 	background-color: #144c11;
}

.white-font {
 	color: #f9f7f7;
}

.black-font {
	color: #141614;
}

.yellow-font {
 	color: #b8d802; 
}

.green-font {
 	color: #144c11;
}


.profile {
	position: absolute;
	z-index: 2;
	top: 35vh;
	left: 5vw;
}

.center-hor {
	float: left;
	left: 50%;
	transform: translateX(-50%);
}

.center-ver {
	float: left;
	top: 50%;
	transform: translateY(-50%);
}

.center {
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#picture {
	height: 150px;
	width: 150px;
	box-sizing: border-box;
	border: 4px solid #f9f7f7;
	border-radius: 75px;
	object-fit: cover;
}

#self-desc {
	height: auto;
	max-width: 50px;
}

#self-id {
	font-size: .7em;
}

#label-circle {
	color: #f9f7f7;
}

.desc-con {
	margin-top: 20px;
	padding: 0 20px;
	border-radius: 30px;
	height: 200px; 
}

.pro-bg {
	object-fit: cover;
}

.pro {
	width: 100vw;
	height: 80vh;
}

.edu {
	width: 100vw;
	height: 170vh;
}

.timeline {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

.line {
	position: absolute;
	height: 80vh;
	width: 2px;
}

.small-circle {
	position: relative;
	margin: 6vh 0;
	height: 35px;
	width: 35px;
	border-radius: 17.5px;
	font-size: 0.5em;
}

.begin-circle {
	margin-bottom: 8vh;
	height: 70px;
	width: 70px;
	border-radius: 35px;
	font-size: 0.8em; 
}

.end-circle {
	margin-top: 8vh;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	font-size: 0.8em; 
}

.label-circle {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.edu-track {
	width: 40px;
	font-size: 2.5em;
}

.edu-track-left {
	position: absolute;
	left: -250px;
	transform: translateY(-20%);
	text-align: right;
}

.edu-track-right {
	position: absolute;
	right: -200px;
}

/*.edu-track-1 {
	position: absolute;
	right: -210px;
	transform: translateY(-25%);
}

.edu-track-2 {
	position: absolute;
	left: -300px;
	text-align: right;
	transform: translateY(-25%);
}

.edu-track-3 {
	position: absolute;
	right: -300px;
	transform: translateY(-25%);
}

.edu-track-4 {
	position: absolute;
	bottom: -140px;
	text-align: center;
	width: 400px;
	font-size: 2em;
	transform: translateX(-45%);
}*/

.ski {
	width: 100vw;
	height: 50vh;
}

.pl-con {
	position: relative;
	width: 200px;
	display: flex;
	flex-flow: row wrap;
}

.pl {
	box-sizing: border-box;
	position: relative;
	text-align: center;
	vertical-align: middle;
	margin: 5px;
	width: 50px;
	height: 50px;
	font-size: 0.9em;
	font-weight: bold;
	padding: 0;
	border-radius: 0 10px 0;
}

.button-project {
	box-sizing: border-box;
	position: relative;
	padding: 3px 40px 3px 10px;
	float: right;
	top: 30%;
	border-radius: 4px 0 0 4px;
	transform: translateY(-50%);
}

.link-project {
	text-decoration: none;
}

.inf {
	width: 100vw;
	height: 30vh;
}

.home {
	position: absolute;
	padding: 20px;
	left: 0;
}


.home-desc {
	font-size: 0.8em;
}

.contact {
	position: absolute;
	padding: 20px;
	right: 0;
}

.contact-email {
	position: relative;
	float: right;
	font-size: 0.8em;
}


.sub-title {
	text-align: center;
	vertical-align: middle;
	padding: 20px;
	border-radius: 10px;
	position: absolute;
}

.home-ico > img {
	position: relative;
	float: left;
	height: 40px;
	width: 40px;
}

.home-con {
	position: relative;
	float: left;
	left: 20px;
}

.link-home {
	position: relative;
	float: left;
	height: 40px;
	width: 40px;
}

.head-menu {
	position: absolute;
	top: 30px;
	left: 40px;
}

.head-menu > a {
	padding-left: 10px;
}