{% load static %}
<!DOCTYPE html>
<html lang="en-ID">
<head>
	<title>Nan - Home</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- <link rel="shortcut icon" type="image/png" href="{% %}"> -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style4.css' %}">
</head>
<body class="white">
  {% include "reusable-pages/head-bar.html" %}
	<div class="title white green-font">
		<h1>Home</h1>
	</div>
  <div class="white">
    <div id="map"></div>
    <script>
      function myMap() {
        var myCenter = new google.maps.LatLng(-6.359565, 106.731128);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {center: myCenter, zoom: 10};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position:myCenter});
        marker.setMap(map);

        // Zoom to 9 when clicking on marker
        google.maps.event.addListener(marker,'click',function() {
          map.setZoom(18);
          map.setCenter(marker.getPosition());
        });
      }
    </script>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8aAgYoRPFd3EWTOoaxh8AaE4SSc2foe0&callback=myMap"></script>
</body>
</html>