{% load static %}
<!DOCTYPE HTML>
<html lang="en-ID">
	<head>
		<title>Nan - Profile</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
	</head>
	<body>
		<div class="head-menu">
			<a href="{% url 'register' %}">
				<div class="btn btn-light">
					Register
				</div>
			</a>
			<a href="{% url 'schedules' %}">
				<div class="btn btn-light">
					Schedules
				</div>
			</a>
		</div>
		<div class="profile">
			<img id="picture" src="{{ photo }}">
			<div class="desc-con white">
				<h1>{{ name }}</h1>
				<h1>{{ age }}</h1>
				<q id="self-desc">{{ desc|linebreaksbr }}</q>
			</div>
		</div>
		<img class="pro pro-bg" src="{{ background }}">
		<div class="edu white">
			<div class="label-edu sub-title center-hor white-font yellow">Education</div>
			<div class="timeline center">
				<div class="line center green"></div>
				<div class="begin-circle green">
					<span class="label-circle white-font">1999</span>
				</div>
				{% for instance in instances %}
					<div class="small-circle green">
						<span class="label-circle white-font">{{ instance.joined_date.year }}</span>
						<div class="edu-track">
							Joined at<br/> 
							{{ instance.instance }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="ski green">
			<div class="sub-title center-hor white-font yellow">Programming Languages<br/>Skill</div>
			<div class="pl-con green-font center">
				{% for skill in skills %}
					<div class="pl white">{{ skill }}</div>
				{% endfor %}
			</div>
			<a class="link-project black-font" href="{% url 'projects' %}">
				<div class="button-project white">Project</div>
			</a>
		</div>
		<div class="inf black white-font">
			<!-- <div class="home">
				<a class="link-home" href="{% url 'home' %}">
					<img src="{% static 'icons/home.svg' %}">
				</a>
				<div class="home-con">
					<p class="home-desc">{{ home|linebreaksbr }}</p>
				</div>
			</div> -->
			<div class="contact">
				<div class="contact-email">
					<div></div>
				</div>	
				<img src="{% static 'icons/email.svg'%}">
			</div>
		</div>
	</body>
</html>