{% load static %}
<!DOCTYPE HTML>
<html lang="en-ID">
	<head>
		<title>Nan - Projects</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
	</head>
	<body class="white">
		{% include "reusable-pages/head-bar.html" %}
		<div class="title white green-font">
			<h1>Projects</h1>
		</div>
		<div class="project-list-con white">
			{% if file_exists %}
				{% for project in projects %}
					<div class="project white">
						<img class="project-icon" src="{{ project.icon.icon.url }}">
						<div>
							<h2>{{ project.name }}</h2>
							<p>{{ project.type }} - {{ project.role }}<br>
								{{ project.year }}
							</p>
						</div>
						<p>{{ project.description }}</p>
					</div>
				{% endfor %}
			{% else %}
				<h2 class="green-font">You don't have any project</h2>
			{% endif %} 
		</div>
	</body>
</html>