{% load static %}
<!DOCTYPE HTML>
<html lang="en-ID">
	<head>
		<title>Nan - Register</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style4.css' %}">
	</head>
	<body class="white">
		{% include "reusable-pages/head-bar.html" %}
		<div class="title white green-font">
			<h1>Register</h1>
		</div>
		<div class="form-bg white">
			<form class="form-con">
				<div class="entry">
					<span>Name </span>
					<input type="text" name="text" placeholder="Your name"><br/>
				</div>
				<div class="entry">
					<span>Date </span>
					<input type="date" name="bday"><br/>
				</div>
				<div class="entry">
					<span>Email </span>
					<input type="email" name="email" placeholder="Your email"><br/>
				</div>
				<div class="entry">
					<span>Username </span>
					<input type="text" name="text" placeholder="Your username"><br/>
				</div>
				<div class="entry">
					<span>Password </span>
					<input type="password" name="psw"><br/>
				</div>
				<div class="entry">
					<span>Re-password </span>
					<input type="password" name="psw"><br/>
				</div>
				<input class="button-submit btn btn-success" type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>