{% load static %}
<!DOCTYPE HTML>
<html lang="en-ID">
	<head>
		<title>Nan - Schedules</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
		<script src="{% static 'js/script5.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
	</head>
	<body class="white">
		<div class="wall" onclick="adder(0)"></div>
		{% include "reusable-pages/head-bar.html" %}
		<div class="title white green-font">
			<h1>Schedules</h1>
		</div>
		<div class="form-con white">
			<img class="button-close" src="{{ close_icon }}" onclick="adder(0)">
			<form action="" method="POST">
				{% csrf_token %}
				<h2 class="schedule-title">Add Schedule</h2>
				<div class="entry">
					<span>Name </span>
					{{ form.name }}
				</div>
				<div class="entry">
					<span>Category </span>
					{{ form.category }}
				</div>
				<div class="entry">
					<span>Place </span>
					{{ form.place }}
				</div>
				<div class="entry">
					<span>Start Date </span>
					{{ form.start_date }}
				</div>
				<div class="entry">
					<span>End Date </span>
					{{ form.end_date }}
				</div>
				<input class="button button-submit button-padding-center green white-font" type="submit" value="Submit">
			</form>
		</div>
		<div class="button-config">
			<div class="button button-add button-padding-center green white-font" onclick="adder(1)">Add</div>
			<a class="button-delete-all" href="{% url 'schedules/delete_all/' %}">
				<div class="button button-padding-center green white-font">Delete All</div>
			</a>
		</div>
		<div class="schedule-list-con white">
			{% if file_exists %}
				{% for schedule in schedules %}
					<div class="schedule white">
						<div class="schedule-count green white-font">
							<img src="{{ event_icon }}">
						</div>
						<div>
							<h2>{{ schedule.name }}</h2>
							<div class="label-con">
								<img class="label-icon" src="{{ list_icon }}">
								<label>{{ schedule.category }}</label>
							</div>
							<div class="label-con">
								<img class="label-icon" src="{{ place_icon }}">
								<label>{{ schedule.place }}</label>
							</div>
							<div class="label-con">
								<img class="label-icon" src="{{ cal_icon }}">
								<label>{{ schedule.start_date }} - {{ schedule.end_date }}</label>
							</div>
						</div>
						<a href="delete/{{ schedule.id }}">
							<div class="button button-del button-padding-center green white-font">
								Delete
							</div>
						</a>
					</div>
				{% endfor %}
			{% else %}
				<h2 class="green-font">You don't have any schedule</h2>
			{% endif %} 
		</div>
	</body>
</html>